.banqueting-hall.service {
  .service__body {
    &__text {
      h2 {
        max-width: 179px;
      }

      &__subtitle {
        max-width: 410px;
      }

      @media (max-width: $breakpoint-1) {
        h2 {
          max-width: 120px;
        }

        &__subtitle {
          max-width: none;
        }
      }
    }
  }
}