.cart-block {
  padding-bottom: 150px;

  &__title {
    padding-left: 70px;
  }

  &__clear-all {
    margin-left: auto;
    width: fit-content;
    padding-right: 70px;
    text-align: right;
  }

  &__orders {
    margin-top: 30px;
    border-top: 1px solid $brown;
  }

  &__total {
    width: 100%;
    padding-right: 165px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .total-text {
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;
      display: block;
      margin-right: 99px;
    }
  }

  &__button {
    margin-top: 57px;
    padding-right: 116px;
    text-align: right;

    .btn {
      width: 284px;
    }
  }

  @media (max-width: $breakpoint-1) {
    padding: 40px 0 100px 0;

    &__title {
      padding: 0 15px;
    }

    &__clear-all {
      margin-left: auto;
      margin-top: 12px;
      padding: 0 15px;

      .clear-all {
        flex-direction: column-reverse;
        align-items: flex-end;
        font-size: 15px;

        &::after {
          margin-bottom: 5px;
        }
      }
    }

    &__orders {
      margin-top: 11px;
      padding: 0 15px;
      border-top: none;

      .order {
        &:first-child {
          border-top: 1px solid $brown;
        }
      }
    }

    &__total {
      padding: 0 15px;
      margin-top: 30px;
      flex-direction: column;
      align-items: flex-start;

      .total-text {
        margin: 0;
      }

      .total-counter {
        margin-top: 5px;
      }
    }

    &__button {
      margin-top: 30px;
      padding: 0 15px;

      .btn {
        width: 100%;
      }
    }
  }
}