$brown: #BD8051;
$black: #322F28;
$light-brown: #B5977D;
$pale-1: #EBE7DC;
$pale-2: #EFE9DB;
$pale-3: #F5F2E9;
$grey-1: #C2B8AC;
$grey-2: #C2B8AC;
$white: #ffffff;
$semi-brown: #F0D4BC;
$dark-brown: #A95A1D;
$footer-black: #181713;