.footer {
  background-color: $footer-black;
  padding: 80px 0 25px 0;

  &__rights {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22.4px;
    margin-top: 100px;
    color: $brown;
    white-space: nowrap;

    &__copyright {
      padding-right: 21px;
    }

    &__offer {
      padding-left: 21px;
    }
  }

  @media (max-width: $breakpoint-1) {
    padding: 30px 0 96px 0;

    &__rights {
      margin-top: 30px;
      flex-direction: column-reverse;
      white-space: normal;

      &__offer, &__copyright {
        padding: 0 15px;
      }

      &__copyright {
        margin-top: 30px;
        width: 100%;

        span {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}