.gallery-images {
  padding-top: 100px;

  &__body {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0 70px;

    &__item {
      width: 500px;
      height: 340px;
      margin-top: 50px;
      overflow: hidden;

      img {
        width: 100%;
        max-height: 100%;
        cursor: pointer;
      }

      &:nth-child(2n + 1) {
        margin-right: 30px;
      }

      &:first-child, &:nth-child(2) {
        margin-top: 0;
      }
    }
  }

  &__button {
    margin-top: 50px;
    width: 100%;
    text-align: center;

    button {
      width: 278px;
    }
  }

  .container {
    &::after {
      content: url('../img/weave_2.svg');
      display: block;
      margin-top: 100px;
    }

    @media (max-width: $breakpoint-1) {
      &::after {
        content: url('../img/weave_2_mobile.svg');
        margin-top: 60px;
      }
    }
  }

  @media (max-width: $breakpoint-1) {
    padding-top: 60px;

    &__body {
      padding: 0 15px;

      &__item {
        margin: 0 0 15px 0!important;
        width: auto;
        height: fit-content;
        line-height: 0;
        max-width: 100%;

        &:last-child {
          margin-bottom: 0!important;
        }
      }
    }

    &__button {
      display: none;
    }
  }
}