.galery {
  &__body {
    padding: 0 70px;

    h2 {
      text-align: center;
    }

    &__subtitle {
      margin: 22px auto 0 auto;
      text-align: center;
      max-width: 554px;
    }

    &__images {
      margin-top: 76px;
      display: flex;
      align-items: stretch;
      justify-content: stretch;

      img {
        padding: 0 15px;
        max-width: 500px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &__button {
      margin-top: 50px;
      text-align: center;
    }
  }
}