.gallery-modal {
  transform: translate(0, 0) scale(0.6);
  max-width: 70%;
  max-height: 80%;
  height: auto;
  overflow: visible;

  &__body {
    padding: 0;
    overflow: visible;
    background: none;
    max-width: 100%;
    max-height: 100%;

    img {
      min-width: 40vw;
    }
  }

  .modal__close {
    right: -8%;
    top: -10%;
  }
}