.header {
  .info {
    padding: 0 70px;
    height: 65px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;

    &__mobile-logo {
      display: none;
    }

    &__time-and-street {
      display: flex;
      align-items: center;
      height: 100%;

      &__street {
        display: flex;
        align-items: center;
        padding-right: 80px;
        border-right: 2px solid $brown;
        height: 100%;
      }

      &__time {
        padding: 0 54px;
      }
    }

    &__cart {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 291px;
      border-right: 2px solid $brown;

      &__btn {
        display: flex;
        width: 143px;
        white-space: nowrap;

        #products {
          color: $dark-brown;
        }

        &::before {
          content: url('../img/basket.svg');
          display: block;
          margin-right: 14px;
        }
      }
    }

    &__phone {
      padding-left: 70px;
    }

    &__burger {
      display: none;
    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $brown;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    @media (max-width: $breakpoint-1) {
      height: 60px;
      padding: 0 10px;

      &__mobile-logo {
        display: block;
        width: 55%;

        img {
          width: 63px;
          max-height: 100%;
        }
      }

      &__time-and-street, &__phone {
        display: none;
      }

      &__cart {
        width: 34%;
        border-right: none;

        &__btn {
          display: inline-block;
          width: 100%;
          text-align: center;

          span {
            display: none;
          }
        }
      }

      &__burger {
        display: flex;
      }
    }
  }

  &__body {
    padding: 85px 70px 79px 70px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    &__title {
      padding-right: 114px;

      h1 {
        max-width: 401px;
        font-size: 60px;
        margin-top: 22px;
      }
    }

    &__button {
      margin-top: 22px;
    }

    &__image {
      padding-left: 145px;
      position: relative;
      cursor: pointer;

      &__wrapper {
        width: 370px;
        height: 400px;
      }

      &::after {
        content: url('../img/weave_1.svg');
        position: absolute;
        bottom: -8%;
        left: 22%;
      }
    }

    &__image:hover + &__title {
      .header__body__button {
        .btn {
          &::after {
            margin-left: 30px;
          }
        }
      }
    }

    &__subtitle {
      margin-top: 22px;
    }

    &::after {
      content: "";
      display: block;
      width: 2px;
      height: calc(100%  + 65px);
      background-color: $brown;
      position: absolute;
      left: 49.74%;
      top: -65px;
    }
  }
}

.header_delivery {
  .header__body {
    &__title {
      padding-right: 236px;

      h1 {
        max-width: 197px;
      }
    }
  }
}

.header_banqueting {
  .header__body {
    &__title {
      padding-right: 237px;

      h1 {
        max-width: 197px;
      }
    }

    &__button {
      button {
        width: 278px;
      }
    }
  }
}

.header_gallery {
  .header__body {
    &__title {
      padding-right: 350px;
    }
  }
}

.header_contacts {
  .header__body {
    &__title {
      padding-right: 265px;
    }

    &__contacts > div {
      margin-top: 22px;
    }
  }
}

.header_cart {
  .header__info {
    .info__time-and-street {
      border-right: 2px solid $brown;
    }
    
    &::after {
      display: none;
    }
  }
}
