.header {
  .info {
    padding: 0 70px 0 27px;
    height: 65px;
    display: flex;
    align-items: center;
    position: relative;

    &__time-and-street {
      display: flex;
      align-items: center;
      border-right: 2px solid $brown;
      height: 100%;

      &__street {
        display: flex;

        &::before {
          content: url('../img/home.svg');
          display: block;
          margin-right: 14px;
        }
      }

      &__time {
        padding-right: 99px;
        padding-left: 175px;
      }
    }

    &__basket {
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 52px;
      padding-left: 40px;
      border-right: 2px solid $brown;

      &__btn {
        display: flex;

        &::before {
          content: url('../img/basket.svg');
          display: block;
          margin-right: 14px;
        }
      }
    }

    &__phone {
      padding-left: 70px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, $brown 0%, $brown 37%, transparent 37%, transparent 51.5%, $brown 51.5%);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__body {
    padding: 85px 70px 79px 70px;
    display: flex;
    position: relative;

    &__title {
      padding-right: 114px;

      h1 {
        max-width: 401px;
        font-size: 60px;
        margin-top: 22px;
      }
    }

    &__button {
      margin-top: 22px;
    }

    &__image {
      padding-left: 145px;
    }

    &__separator {
      position: absolute;
      height: 100%;
      top: -6%;
      left: 37.5%;

      &::after {
        content: "";
        display: block;
        width: 2px;
        height: 72%;
        background-color: $brown;
        position: absolute;
        bottom: -6%;
        right: 20%;
      }
    }
  }
}
