.modal {
  position: fixed;
  max-width: fit-content;
  height: 100%;
  padding: 100px 0;
  z-index: -1;
  opacity: 0;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  
  &__body {
    max-width: 610px;
    margin: 0 auto;
    padding: 220px 50px 70px 50px;
    background-color: $pale-3;
    border-top-left-radius: 318.5px;
    border-top-right-radius: 318.5px;
    transition: 2s ease-in;
  }

  &__close {
    display: block;
    width: 41px;
    height: 41px;
    cursor: pointer;
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0%;
    top: 10%;

    @media (max-width: $breakpoint-1) {
      width: 31px;
      height: 31px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  @media (max-width: $breakpoint-1) {
    padding: 0;
    max-width: 100%;
    overflow-y: auto;

    &__body {
      max-width: 100%;
      width: 100%;
      border-radius: 0;
      padding: 65px 30px 53px 30px;
    }
  }
}

.modal.no-animation, .modal.no-animation * {
  transition: none!important;
  animation: none!important;
}

.blur {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: radial-gradient(125.4% 125.4% at 0% 0%, rgba(156, 144, 106, 0.1) 0%, rgba(245, 242, 233, 0) 100%);
  animation: blurAppearance .2s .4s forwards;

  @keyframes blurAppearance {
    from {
      backdrop-filter: blur(0px);
    }

    to {
      backdrop-filter: blur(10px);
    }
  }

  @media (max-width: $breakpoint-1) {
    animation: mobileBlurAppearance .2s forwards;

    @keyframes mobileBlurAppearance {
      from {
        background-color: none;
      }

      to {
        background-color: $semi-brown;
      }
    }
  }
}