.navbar {
  ul {
    width: 100%;
    display: flex;
    align-items: center;

    li {
      a {
        display: inline-block;
        white-space: nowrap;
        font-size: 20px;
        line-height: 24px;
        font-family: "Bebas Neue";
        color: $dark-brown;
        transition: .2s linear;

        &:hover {
          transform: scale(1.25);

          @media (max-width: $breakpoint-1) {
            transform: none;
          }
        }

        &:active {
          color: $brown;
        }
      }

      .basket-button {
        display: none;

        @media (max-width: $breakpoint-1) {
          display: flex;
        }
      }
    }

    @media (max-width: $breakpoint-1) {
      display: inline-block;
    }
  }

  &__main {
    padding: 35px 70px 28px 70px;
    border-top: 2px solid $brown;
    border-bottom: 2px solid $brown;

    li {
      &:first-child, &:nth-child(2) {
        padding-right: 144px;
      }

      &:nth-child(3), &:nth-child(4) {
        padding-right: 169px;
      }
    }

    @media (max-width: $breakpoint-1) {
      padding: 30px 0;

      li {
        padding: 0 0 0 15px;
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__subnav {
    padding: 50px 70px 0 70px;

    li {
      padding: 0 54px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}