.service {
  &__body {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 0 70px;

    &__text {
      padding-right: 60px;

      &__subtitle {
        margin-top: 22px;
      }

      &__link {
        margin-top: 22px;
      }
    }

    &__image {
      padding-left: 60px;

      img {
        width: 500px;
      }
    }

    &__image:hover + &__text {
      .service__body__text__link {
        .btn {
          &::after {
            margin-left: 30px;
          }
        }
      }
    }

    @media (max-width: $breakpoint-1) {
      flex-direction: column;
      padding: 0 15px;

      &__image {
        width: 100%;
        padding: 0;
      }

      &__text {
        margin-top: 30px;
        padding: 0;

        &__link {
          margin-top: 15px;
        }
      }
    }
  }

  .container {
    position: relative;

    &::after {
      content: url('../img/weave_2.svg');
      display: block;
      margin-top: 100px;

      @media (max-width: $breakpoint-1) {
        content: url('../img/weave_2_mobile.svg');
        margin-top: 60px;
      }
    }
  }
}

.service.service_inversion {
  .service__body {
    flex-direction: row;

    &__text {
      padding-left: 60px;
      padding-right: 0;
    }

    &__image {
      padding-right: 60px;
      padding-left: 0;
    }

    @media (max-width: $breakpoint-1) {
      flex-direction: column;

      &__text, &__image {
        padding: 0;
      }
    }
  }
}
