@import "colors";
@import "fonts";
@import "breakpoints";
@import "navbar";
@import "burger";
@import "card";
@import "counter-block";
@import "modal";
@import "feedback";
@import "image-modal";
@import "gallery-modal";
@import "service";
@import "order";
@import "scroll-button";
@import "header";
@import "banqueting-hall";
@import "delivery";
@import "gallery";
@import "banner";
@import "benefits";
@import "dishes";
@import "hall-description";
@import "slider-block";
@import "hall-photo";
@import "banquet-menu";
@import "events";
@import "gallery-images";
@import "cart-block";
@import "mobile-nav";
@import "footer";

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  overflow-x: hidden;
  font-size: 18px;
  line-height: 27px;
  color: $black;
  background-color: $semi-brown;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @media (max-width: $breakpoint-1) {
    font-size: 15px;
    line-height: 22.5px;
  }
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue";
}

h1 {
  line-height: 100%;
}

h2 {
  font-size: 45px;
  line-height: 100%;

  @media (max-width: $breakpoint-1) {
    font-size: 30px;
  }
}

h3 {
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  padding-top: 100px;

  @media (max-width: $breakpoint-1) {
    padding-top: 60px;
  }
}

button {
  font-family: 'Raleway';
}

input {
  border: none;
  border-bottom: 2px solid $brown;
  font-family: 'Raleway';
  font-weight: 400;
  color: $black;
  font-size: 16px;
  outline: none;
  width: 200px;
  padding-bottom: 10px;
  background: transparent;

  &::placeholder {
    font-family: 'Raleway';
    font-weight: 400;
    color: $black;
    font-size: 16px;
  }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;

  &::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border: 1px solid $brown;
    background-repeat: no-repeat;
    background-position: center;
  }
}

input[type=checkbox]:checked ~ label {
  &::before {
    background-image: url('../img/check-mark.svg');
  }
}

.container {
  width: 1210px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $breakpoint-1) {
    width: 320px;
    padding: 0 15px;
  }
}

.rounded {
  border-radius: 200px 200px 0px 0px;
  overflow: hidden;

  img {
    object-fit: cover;
    max-width: none;
    width: auto;
    height: 100%;
  }
}

.btn {
  display: inline-block;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 246px;
  padding: 10px 0;
  cursor: pointer;
  border: 2px solid $brown;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: .2s linear;

  &:hover {
    background: $brown;
    color: $pale-3;
    font-weight: 600;
  }

  @media (max-width: $breakpoint-1) {
    font-size: 15px;

    &:hover {
      background: inherit;
      color: inherit;
      font-weight: inherit;
    }
  }
}

.arrow-btn {
  border: none;
  padding: 0;
  width: auto;
  text-align: left;
  display: flex;
  font-size: 18px;

  &::after {
    content: url('../img/arrow.svg');
    display: block;
    margin-left: 20px;
    transition: .2s linear;
  }

  &:hover {
    background: inherit;
    color: inherit;
    font-weight: inherit;
    border: none;

    &::after {
      margin-left: 30px;
    }
  }

  @media (max-width: $breakpoint-1) {
    font-size: 15px;
    align-items: center;

    &::after {
      position: relative;
      top: 4px;
    }
  }
}

.basket-button {
  display: flex;

  &::after {
    content: url('../img/basket.svg');
    display: block;
    margin-left: 20px;
    transition: .15s linear;
  }

  &:active {
    &::after {
      margin-left: 30px;
    }
  }

  @media (max-width: $breakpoint-1) {
    align-items: center;
  }
}

.clear-all {
  border: none;
  padding: 0;
  width: auto;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 18px;

  &::after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('../img/clear.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-left: 20px;
  }

  &:hover {
    background: inherit;
    color: inherit;
    font-weight: inherit;
    border: none;
  }
}

.clear-button {
  border: none;
  padding: 0;
  width: auto;
  text-align: left;
  display: block;

  &::after {
    content: url('../img/clear.svg');
    display: block;
  }

  &:hover {
    background: inherit;
    color: inherit;
    font-weight: inherit;
    border: none;
  }
}

.animated-img {
  transform: scale(1);
  transition: transform .2s linear;

  &:hover {
    transform: scale(1.05);
  }

  @media (max-width: $breakpoint-1) {
    &:hover {
      transform: inherit;
    }
  }
}

.dish-count {
  margin-left: 20px;
}

br.mobile-line-break {
  display: none;

  @media (max-width: $breakpoint-1) {
    display: block;
  }
}

.desktop-text {
  @media (max-width: $breakpoint-1) {
    display: none!important;
  }
}

.mobile-text {
  display: none!important;

  @media (max-width: $breakpoint-1) {
    display: inherit!important;
  }
}

.mobile-button {
  display: none!important;

  @media (max-width: $breakpoint-1) {
    display: inherit!important;
  }
}

.mobile-section {
  display: none!important;

  @media (max-width: $breakpoint-1) {
    display: inherit!important;
  }
}
