<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class='header <%-modificator ? modificator : ""%>'>
    <div class='container'>
      <div class="header__info info">
        <div class="info__time-and-street">
          <div class="info__time-and-street__street">
            <span>
              Ул. Красный проспект, 24
            </span>
          </div>
          <div class="info__time-and-street__time">
            <span>
              8:30 - 23:00
            </span>
          </div>
        </div>
        <div class="info__cart">
          <a href="/cart.html" class="info__cart__btn" id="cart">
            Корзина
          </a>
        </div>
        <div class="info__phone">
          <a href="#">
            +7 (963) 466-12-26
          </a>
        </div>
      </div>
      <nav class="header__navigation navbar">
        <ul class="navbar__main">
          <li>
            <a href="index.html">
              Главная
            </a>
        </li>
          <li>
            <a href="banqueting.html">
              Заказать банкет
            </a>
        </li>
          <li>
            <a href="delivery.html?category=Супчик%20дня">
              Меню доставки
            </a>
        </li>
          <li>
            <a href="gallery.html">
              Галерея
            </a>
        </li>
          <li>
            <a href="contacts.html">
              Контакты
            </a>
        </li>
        </ul>
        <%=subnav ? subnav : ""%>
      </nav>
    </div>
  </header>