<div class="dishes__item" data-id="<%=id%>">
  <div class="dishes__item__image rounded" data-modal="dishes-modal" data-action="open">
    <img src="img/<%=img%>" class="image" data-modal="dishes-modal" data-action="open">
  </div>
  <div class="dishes__item__title" data-modal="dishes-modal" data-action="open">
    <h3 class="title" data-modal="dishes-modal" data-action="open">
      <%=title%>
    </h3>
  </div>
  <div class="dishes__item__price" data-modal="dishes-modal" data-action="open">
    <span class="price" data-modal="dishes-modal" data-action="open">
      <%=price%>
    </span>
  </div>
  <div class="dishes__item__button" data-modal="dishes-modal" data-action="open">
    <a href="#" class="btn arrow-btn" data-modal="dishes-modal" data-action="open">
      Подробнее
    </a>
  </div>
  <div class="dishes__item__basket-button">
    <a href="#" class="basket-button">
      Добавить в корзину
    </a>
    <a href="cart.html" class="dish-count">
    </a>
  </div>
</div>