<footer class="footer">
    <div class="container">
      <nav class="footer__navigation navbar">
        <ul class="navbar__main">
          <li>
            <a href="#">
              Главная
            </a>
        </li>
          <li>
            <a href="#">
              Заказать банкет
            </a>
        </li>
          <li>
            <a href="#">
              Меню доставки
            </a>
        </li>
          <li>
            <a href="#">
              Галерея
            </a>
        </li>
          <li>
            <a href="#">
              Контакты
            </a>
        </li>
        </ul>
      </nav>
      <div class="footer__rights">
        <div class="footer__rights__copyright">
          <span>
            © 2003-2022 г. Все права защищены.
          </span>
        </div>
        <div class="footer__rights__offer">
          <span>
            Информация на сайте, носит исключительно информационно-рекламный характер, и не является офертой или публичной офертой.
          </span>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>