<footer class="footer">
    <div class="container">
      <nav class="footer__navigation navbar">
        <ul class="navbar__main">
          <li>
            <a href="index.html">
              Главная
            </a>
          </li>
          <li>
            <a href="banqueting.html">
              Заказать банкет
            </a>
          </li>
          <li>
            <a href="delivery.html?category=Супчик%20дня">
              Меню доставки
            </a>
          </li>
          <li>
            <a href="gallery.html">
              Галерея
            </a>
          </li>
          <li>
            <a href="contacts.html">
              Контакты
            </a>
          </li>
          <li>
            <a href="cart.html" class="basket-button">
              Корзина
            </a>
          </li>
        </ul>
      </nav>
      <div class="footer__rights">
        <div class="footer__rights__copyright">
          <span>
            © 2003-2022 г. Все права защищены.
          </span>
        </div>
        <div class="footer__rights__offer">
          <span>
            Информация на сайте, носит исключительно информационно-рекламный характер, и не является офертой или публичной офертой.
          </span>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>