<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>Document</title>
</head>
<body>
  <header class='header <%-modificator ? modificator : ""%>'>
    <div class='container'>
      <div class="header__info info">
        <div class="info__mobile-logo">
          <img src="img/logo.png" alt="Лого">
        </div>
        <div class="info__time-and-street">
          <div class="info__time-and-street__street">
            <span>
              Ул. Красный проспект, 24
            </span>
          </div>
          <div class="info__time-and-street__time">
            <span>
              8:30 - 23:00
            </span>
          </div>
        </div>
        <div class="info__cart">
          <a href="cart.html" class="info__cart__btn" id="cart">
            <span>Корзина</span>
          </a>
        </div>
        <div class="info__phone">
          <a href="#">
            +7 (963) 466-12-26
          </a>
        </div>
        <div class="info__burger burger">
          <span></span>
        </div>
        <div class="info__mobile-nav mobile-nav">
          <nav class="mobile-nav__links navbar">
            <ul>
              <li class="mobile-nav__link">
                <a href="">
                  Главная
                </a>
              </li>
              <li class="mobile-nav__link">
                <a href="">
                  Заказать банкет
                </a>
              </li>
              <li class="mobile-nav__link">
                <a href="">
                  Меню доставки
                </a>
              </li>
              <li class="mobile-nav__link">
                <a href="">
                  Галерея
                </a>
              </li>
              <li class="mobile-nav__link">
                <a href="">
                  Контакты
                </a>
              </li>
              <li class="mobile-nav__link">
                <a href="" class="basket-button">
                  Корзина
                </a>
              </li>
            </ul>
          </nav>
          <ul class="mobile-nav__social">
            <li>
              <a href="">
                +7 (963) 466-12-26
              </a>
            </li>
            <li>
              Ул. Красный проспект, 24	
            </li>
            <li>
              Время работы: 8:30 - 23:00
            </li>
          </ul>
          <div class="mobile-nav__button">
            <button class="btn">
              Заказать звонок
            </button>
          </div>
        </div>
      </div>
      <div class="header__body">
        <div class='header__body__image' data-modal="feedback" data-action="open">
          <div class="header__body__image__wrapper rounded" data-modal="feedback" data-action="open">
            <img src="img/<%=img%>" alt="Арка кафе" data-modal="feedback" data-action="open">
          </div>
        </div>
        <div class='header__body__title'>
          <div class="header__logo">
            <img src="img/logo.png" alt="Logo">
          </div>
          <h1>
            <%=title%>
          </h1>
          <%=subtitle%>
        </div>
      </div>
      <nav class="header__navigation navbar">
        <ul class="navbar__main">
          <li>
            <a href="index.html">
              Главная
            </a>
          </li>
          <li>
            <a href="banqueting.html">
              Заказать банкет
            </a>
          </li>
          <li>
            <a href="delivery.html?category=Супчик%20дня">
              Меню доставки
            </a>
          </li>
          <li>
            <a href="gallery.html">
              Галерея
            </a>
          </li>
          <li>
            <a href="contacts.html">
              Контакты
            </a>
          </li>
        </ul>
        <%=subnav ? subnav : ""%>
      </nav>
    </div>
  </header>